nav {
  width: 100%;
  height: 126px;
  padding: 40px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grayish-blue);
}

.nav-btns,
.nav-aside {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
}

.btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-wrapper div {
  color: var(--dark-grayish-blue);
  height: 100%;
  position: relative;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-wrapper div:hover{
  color: #000000;
  border-bottom: 4px solid var(--orange);
}

.profile {
  height: 45px;
  width: 45px;

  position: relative;
  z-index: 200;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.1s;
}

.profile:hover {
  outline: 2px solid var(--orange);
}

.profile img {
  display: block;
  height: 100%;
  width: 100%;
}

.shopping-cart-img {
  z-index: 100;
  position: relative;
}

.shopping-cart-img span {
  position: absolute;
  top: -3px;
  right: -4px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  font-size: 8px;
  font-weight: 700;
  color: #ffffff;
  background: var(--orange);
  scale: 1.1;
}

.cart-logic {
  position: relative;
}

.shopping-cart-container {
  display: none;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 280px;
  width: 350px;
  padding-top: 45px;
}

.shopping-cart-container.is-hover {
  display: block;
}

.shopping-cart-content {
  position: relative;
  z-index: 1200;
  height: 235px;
  width: 350px;
  display: flex;
  flex-direction: column;
  
  background: #ffffff;
  filter: drop-shadow(2px 2px 20px var(--grayish-blue));
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shopping-cart-content > div:nth-child(1) {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--grayish-blue);
}

.shopping-cart-content > div:nth-child(1) h1 {
  font-weight: 700;
}


.shopping-cart-content .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 25px;
}

.cart-empty-msg {
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.item-in-cart-wrapper {
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.item-in-cart {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-in-cart .thumbnail-image img {
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
}

.item-in-cart .text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-in-cart .text-container h3,
.item-in-cart .text-container p {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 16px;
}

.cart-total-price {
  color: #000000 !important;
  font-weight: 700 !important;
  display: inline-block;
  transform: translateX(8px);
}

.clear-cart {
  border: none;
  background: none;
  height: fit-content;

  cursor: pointer;
  opacity: 0.6;
  transition: 0.05s;
}

.clear-cart:hover {
  opacity: 1;
}

button#checkout {
  width: 100%;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: 700;

  border: none;
  border-radius: 8px;
  background: var(--orange);

  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media (max-height:750px) {
  nav {
    padding: 25px 0;
  }
}

@media (max-width:1324px) {
  nav {
    padding: 25px 0;
    height: 100px;
  }
}

@media (max-width:1026px) {
  .nav-btns {
    gap: 25px;
  }

  .logo {
    scale: 0.8;
  }

  .btn-wrapper {
    gap: 16px;
  }

  .btn-wrapper div {
    font-size: 14px;
  }

  .nav-aside {
    gap: 35px;
  }

  .cart-logic {
    scale: 0.9;
  }

  .profile {
    height: 35px;
    width: 35px;
  }
}

@media (max-width:768px) {
  .shopping-cart-container {
    display: none;
  }
}

@media (max-width:650px) {
  nav {
    padding: 25px;
  }

  .btn-wrapper {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .logo {
    scale: none ;
  }
}

@media (max-width:375px) {
  .nav-aside {
    gap: 20px;
  }
}

@media (max-width:320px) {
  nav {
    padding: 15px;
  }
}